{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Add Movie</title>
{% endblock %}
{% block content %}
<div class="breadcrumbs">
<a href="{% url 'index' %}">Home</a>
<span>Movie Details</span>
</div>
<div class="content">
<div class="row">
	<div class="col-md-4">
		<div class="contact-form">
        <form method='post' action="{% url 'addMovie' %}">
			{% csrf_token %}
            <label for='release_date'>Find a movie: </label>
            <input type="text" class="name" name='title' id='title' placeholder="Movie title...">
        </form>
		</div>
	</div>
	<div class="col-md-7 col-md-offset-1">
		<div class="map"></div>
	</div>
</div>
{% endblock %}