{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Movies</title>
{% endblock %}
{% block content %}
<div class="filters">
	<select name="#" id="#" placeholder="Choose Category"> <!-- TODO: Do we need to include these in the DB?-->
		<option value="#">Action</option>
		<option value="#">Drama</option>
		<option value="#">Fantasy</option>
		<option value="#">Horror</option>
		<option value="#">Adventure</option>
	</select>
	<select name="#" id="#">
		<option value="#">2012</option>
		<option value="#">2013</option>
		<option value="#">2014</option>
	</select>
</div>
<div class="movie-list">
	{% for movie in movielist %}
	<div class="movie">
		<figure class="movie-poster"><img src="{{ MEDIA_URL }}media/photos/{{ image }}" alt="{{ movie.title }} image"></figure>
		<div class="movie-title"><a href="{% url 'moviePageView' movieTitle=movie.title %}">{{ movie.title }}</a></div>
		<p>{{movie.director}}</p>
	</div>
	{% endfor %}
</div> <!-- .movie-list -->

<div class="pagination"> <!-- TODO: Paginagtion work?-->
	<a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
	<span class="page-number current">1</span>
	<a href="#" class="page-number">2</a>
	<a href="#" class="page-number">3</a>
	<a href="#" class="page-number">4</a>
	<a href="#" class="page-number">5</a>
	<a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
</div>
{% endblock %}